.head-menu ul {
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #000;
    background-color: #df0101;
    
}

.head-menu img.brand {
    width: 40px;
    height: 40px;
    top: 2px;
    position: relative;
}

.head-menu li {
    float: left;
}

.head-menu li.active {
    float: left;
   /* background-color: black;*/
}

.head-menu li a {
    display: block;
    color:#1e1e1e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.head-menu li a:hover:not(.active) {
    background-color: #1e1e1e;
    color:#df0101;
}


