.head-menu ul {
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.head-menu li {
    float: left;
}

.head-menu li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.head-menu li a:hover:not(.active) {
    background-color: #ddd;
}

.head-menu li a.active {
    color: rgb(145, 44, 44);
    background-color: #4CAF50;
}

