
#currentSection {
    position: absolute;
}

.matchesList {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.matchesList td,tr,div {
    position: relative;
    display: inline-block;
    border: 1px solid gray;
    text-align: center;
    padding: 8px;
    background-color: #e2e2e2;

}

.matchesList th {
    border: 1px solid gray;
    text-align: center;
    padding: 8px;
}

.matchesList text {
    top: 5px;
    bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}